@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .sample-section {
    height: 83vh;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #profile,
  .section-container {
    display: block;
  }
  .section__text__p2 {
    font-size: 2.5rem;
    text-align: center;
    width: auto;
  }
  .about-me {
    font-size: 1.5rem;
    justify-content: center;
    width: auto;
    color: rgb(85, 85, 85);
    margin: 0 15px;
  }
    section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  #about-hero{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .about-interest {
    margin: 0 15px;
  }
  .about-container-1 h1{
    font-size: 2rem;
  }
  .card-logo{
    height: 25px;
    width: 25px;
  }
  .card p {
    font-size: 20px;
  }
  .about-container{
    display: block;
    justify-content: center;
  }
  .sample-container{
    display: block;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
  }
  .sample-card{
    margin-top: 25px;
    text-align: center;
  }
  .sample-video{
    width: auto;
    height: 350px;
  }
  .tools{
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .about-section {
    height: 83vh;
    margin-bottom: 0;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  #about-hero{
      width: auto;
      height: 46vw;
      margin: 0 auto;
      justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.5rem;
    width: auto;
    container: fit;
  }
  .about-me{
    font-size: 1.5rem;
    width: auto;
    max-width: 320px;
  }
  .title {
    font-size: 2rem;
  }
  .about-container {
    margin: 0 10px;
    justify-content: center;
  }
  .about-container h1{
    margin: 10px auto;
  }
  .card p {
    font-size: 25px;
  }
  .sample-container{
    display: block;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
  }
  #sample-edit{
    font-size: 20px;
  }
  .sample-container p {
    font-size: 20px;
  }
  #tools-container h3 {
    font-size: 15px;
    margin: 10px;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-left, .footer-center, .footer-right {
    justify-content: center;
    margin: 5px 0;
  }
  .footer-right {
    display: flex;
  }
}